* {
  box-sizing: border-box;
}
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: black;
}
.home-bar {
  background-color: #ff4500;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#logo {
  height: auto;
  width: 6rem;
}
.home-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  border: 2px solid white;
  border-radius: 10px;
}
legend {
  color: white;
  font-weight: 700;
}
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
}
.activeNavLink {
  background-color: black;
  color: white;
  width: 6rem;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}
.inactiveNavLink {
  background-color: white;
  color: black;
  width: 6rem;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

#search {
  height: 2rem;
  margin-right: 0.5rem;
}
#search-button {
  background-color: black;
  color: white;
}
#subreddit-list {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
  justify-content: space-between;
}
.subreddit {
  border: 1px solid black;
  background-color: #ffe5d4;
  border-radius: 10px;
  min-width: 480px;
  padding: 0.5rem;
  margin: 1rem 0;
  flex: 0 0.1 20%;
}
.subreddit:hover {
  cursor: pointer;
}
.subreddit-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subreddit-icon {
  width: 5rem;
  height: auto;
}
.subreddit-name {
  font-weight: bold;
  font-size: 1.5rem;
}
.post {
  background-color: #ffe5d4;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.post:hover {
  cursor: pointer;
}
.post-media {
  margin-right: 2rem;
  width: 480px;
  height: 270px;
}
.post-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.post-content {
  min-width: 400px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.score {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.score img {
  height: auto;
  width: 3rem;
  margin-right: 1rem;
}
.commented-post-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
#commented-post-media {
  margin-bottom: 1rem;
  width: 640px;
  height: 360px;
}
.post-link {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-weight: 900;
}
#commented-post {
  background-color: #ffe5d4;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.commented-post-media {
  margin-right: 2rem;
  width: 40%;
  height: auto;
  margin: auto;
}
.stars {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.stars img {
  height: auto;
  width: 1.5rem;
  margin-right: 1rem;
}
#comments {
  text-align: left;
  margin-left: 1rem;
  margin-right:auto;
}
.info {
  color: white;
  font-size: 1.5rem;
}
.link {
  font-size: 1.5rem;
}
.button-active {
  background-color: black;
  color: white;
  width: 8rem;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  border:3px solid white;
}
.button-inactive {
  background-color: white;
    color: black;
    width: 8rem;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}
.post-link{
margin-bottom:2rem;
}
a:hover{
  color:#ff4500;
}
@media only screen and (max-width: 800px) {
  .home-bar {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #subreddit-list {
    justify-content: center;
  }

  .post {
    justify-content: center;
  }

  .post-media {
    width: 480px;
    height: 270px;
  }
}
